@import "../../breakpoints.scss";

.custom-placeholder {
    height: 23rem;
    width: 100%;
}

.collection-wallpaper {
    object-fit: cover;
}

.collection-square {
    border-radius: 10px;
    padding: 0;
    width: 9.5rem !important;
    height: 9.5rem !important;
    background: white;
    bottom: 115px;
    position: relative;
    margin-right: 2rem;
}

.collection-avatar {
    padding: 0.45rem;
}

.collection-name {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2rem;
}

.author-name {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1rem;
}

.by {
    font-family: "Poppins";
    font-style: normal;
    font-size: 1rem;
}

.collection-describe {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    color: black;
}

.collection-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.collection-figure {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #C9C9C9;
}

.eth {
    width: 20px;
    height: 32.72727272727273px;
}


.collection-info-grid {
  display: inline-block;
}


@include mobile-up {
    .collection-info-grid {
      display: flex;
      justify-items: center;
    }
    .collection-interact{
      margin: 0;
    }
}


.collection-interact{
 justify-items: end; 
 margin-top: 0.3125rem;
 margin-bottom: 0.3125rem;
}

.collection-divider{
    border-top: 3px solid #F2F3F5;
}