.collectionFilterAndNFTS {
  display: flex;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.filter-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.filter-item{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;

}
