.collection-modal-header {
  background: linear-gradient(
    to right,
    #ff75c3 0%,
    #ffa647 20%,
    #ffe83f 40%,
    #9fff5b 60%,
    #70e2ff 80%,
    #cd93ff 100%
  );
  background-clip: text;
  color: transparent;
}

.collection-modal-style {
  font-family: "Poppins";
  font-style: bold;
}

.collection-modal-heading1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.collection-modal-title {
  font-weight: 600;
  font-size: 16px;
}

.collection-modal-warning {
  font-weight: 500;
  font-size: 12px;
  color: #666666;
}

.collection-modal-black-text {
  color: #000;
}
.collection-modal-red-text {
  color: #ff0000;
}

.collection-modal-grey-text {
  color: #ced4da;
}

.collection-modal-border-solid {
  border-bottom: 2px solid #d9d9d9;
}

.collection-save-btn {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  background-image: linear-gradient(
    to right,
    #f9e0b3 0%,
    #f5b5b8 14.2%,
    #ae9ae0 28.5%,
    #a4f6d7 42.8%,
    #ae9ae0 71.4%,
    #f5b5b8 85.7%,
    #f9e0b3 100%
  );
  transition: 1s !important;
  background-size: 200% auto !important;

  border-radius: 5px !important;
  border-color: transparent !important;
  color: #fff !important;
}

.collection-modal-wallet {
  width: 1.25rem;
  height: 1.184rem;
}

.collection-modal-textfield {
  outline: 0;
  padding: 5px;
  padding-left: 10px;
  border: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px !important;
  border-color: #d9d9d9 !important;
  font-family: "Poppins";
  font-style: normal;
}
