.same-line-text {
  white-space: nowrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
}

.updated-time {
  color: #c9c9c9;
}


@media (max-width: 992px) {
  .filterbar {
    flex-direction: column!important;
  }
  .remove-updated-time{
    display: none !important;
  }
}
.remove-updated-time{
  display: flex;
}


.updated-time-items{
    max-width: min-content;
}

.filter-button{
  background-color: transparent !important;
  color: #3C3C43 !important;
  border-color: #E5E8EB !important;
  border-width: 2px;
}

.filter-text{
  font-family: "Montserrat";
font-style: Regular;
font-size: 1rem;
}

.filter-price{
  z-index: 9999 !important;
}