.NFT-img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0.8rem;
  padding-bottom: 0;
  object-fit: contain;
  height: 19.313rem;
}

.NFT-cbody {
  max-height: 115px;
}
.avatar-NFT {
  width: 6rem !important;
  height: 6rem !important;
}
.NFT-square {
  border-radius: 10px;
  width: 6rem !important;
  height: 6rem !important;
  background: white;
  position: relative;
}

.NFT-card {
  border-radius: 15px !important;
  min-width: 249px !important;
}

.card-title {


  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.NFT-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  height: min-content;
  color: black;
}

@media (min-width: 992px) {
  .NFT-name {
    font-size: 1.5vw;
  }
  .starting-at-text {
    font-size: 1vw;
  }
  .nft-item-price {
    font-size: 1.5vw;
  }
  .avatar-NFT {
    max-width: 6rem !important;
    max-height: 6rem !important;
  }
  .NFT-square {
    max-width: 6rem !important;
    max-height: 6rem !important;
  }
}

.nft-eth-icon {
  padding: 0;
  width: 18px;
  height: 32px;
}

.starting-at-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  color: #d4d4d4;
}

.NFT-price-width {
  max-width: 100px !important;
}

.nft-item-price {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  background: linear-gradient(
    90deg,
    #f9e0b3 0%,
    #f5b5b8 28.12%,
    #ae9ae0 60.94%,
    #a4f6d7 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.middle-buy-now-container {
  width: max-content;
  transition: 0.5s ease !important;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.layer-container:hover .NFT-layer {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.layer-container:hover .middle-buy-now-container {
  opacity: 1 !important;
}
.layer-container {
  position: relative;
}

.NFT-buy-now {
  background-image: linear-gradient(
    to right,
    #f9e0b3 0%,
    #f5b5b8 14.2%,
    #ae9ae0 28.5%,
    #a4f6d7 42.8%,
    #ae9ae0 71.4%,
    #f5b5b8 85.7%,
    #f9e0b3 100%
  );
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  color: #fff !important;
  transition: 1s !important;
  background-size: 200% auto !important;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 10px !important;
  border-color: transparent !important;
}
.NFT-buy-now:hover {
  background-position: right center !important; /* change the direction of the change here */

  text-decoration: none !important;
}
