.colortext {
    color: red !important;
}

.header-text {
    font-family: "Poppins";
    font-size: 3rem;
    color: black;
    font-weight: bold;
    margin-bottom: 2.875rem  !important;
}

.tab-bar {
    font-family: "Poppins";
    font-style: 600;
    font-size: 2rem;
}
