.collection-img {
  object-fit: cover;
  max-height: 11.25rem;
}

.square {
  padding: 0;
  width: 5.5rem !important;
  height: 5.5rem !important;
  background: red;
  bottom: 25px;
  position: relative;
  margin-right: 2rem;
}

.collection-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  height: min-content;
  color: black;
}


.card-cbody{
  height: 75px;
}

