@import "../../common.scss";

.textHome {
  font-family: "Poppins";
  font-weight: bold !important;
  color: black !important;
  font-size: 1.375rem;
  text-align: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .dropdown-item {
    margin: 0;
    padding: 0 !important;
  }

  .customLi {
    padding: 0;
    margin: 0;
    width: min-content;
  }

  .dropdown-menu {
    margin: 0 !important;
    min-width: min-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }

  .navbar li {
    margin-left: 1em;
    margin-right: 1em;
  }
  .nav-item {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .loginBtn {
    padding-top: 0.4065rem !important;
    padding-bottom: 0.4065rem !important;
    padding-left: 2.188rem !important;
    padding-right: 2.188rem !important;
    font-size: 1rem !important;
  }
}
@media (max-width: 992px) {
  .loginBtn {
    font-size: 1.2rem !important;
  }
  .dropdown-menu {
    min-width: 100% !important  ;
  }

  // .navbar-nav .dropdown-menu {
  //   position: static;
  // }
  .dropdown {
    display: flex;
    flex-direction: column;
  }


}
.loginBtn {
  width: 100% !important;
  font-family: "Poppins" !important;
  font-weight: 600 !important;
}
.searchBar {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  align-self: center;
  justify-content: started;
  max-height: 2.375rem;
}

.searchInput {
  border: none;
  width: 100%;
  outline: 0;
}

.logo {
  width: 8.125rem;
  height: auto;
}

.nav-link {
  color: black !important;
  padding: 0 !important;
}
.dropdown-item {
  background-color: white !important;
  color: black !important;
  text-align: center !important;
}

.custom {
  display: flex !important;
  flex-direction: row;
}
.right {
  display: none;
}

