.image-placeholder {
  height: 304px;
  width: 430px;

  border-color: #ced4da;
  border-width: 4px;
  border-style: dashed;
  border-radius: 4px;
  object-fit: contain;
}

.mint-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mint-icon {
  margin: auto;
}
