.personal-dropdown-style {
    background-color: transparent !important;
    border-radius: 10px !important;
    border-color: #D9D9D9 !important;
    border-width: 3 !important;
    color: #000 !important;
    font-family: "Poppins"!important;
    font-style: normal;
    font-weight: bold;
  }

  .personal-dropdown-text{
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
  }