.personal-NFT-more-dropdown {
  margin-bottom: -5px !important;
}

.personal-sell-modal-image {
  width: 12.5rem;
  height: 14.5rem;
  object-fit: contain;
  background-color: #d4d4d4;

}


.personal-sell-modal-input{
    height: 2.5rem;
}
.personal-sell-modal-divider{
    border-radius: 30px;
    height: 0.125rem !important;
    background-color: black;
}